@import "tailwindcss";

.forum-card {
  padding-inline: calc(var(--spacing) * 3);
  padding-block: calc(var(--spacing) * 5);
  background-color: var(--color-blue-200);
  border-radius: 0.25rem;
}

.header-nav-link {
  position: relative;
  display: inline-block;
  padding: 20px 10px;
  font-weight: 500;
  color: #374151; /* text-gray-700 */
  transition: color 0.2s ease;
}

.header-nav-link:hover {
  color: #2563eb; /* text-blue-600 */
}

/* hover 下划线动画 */
.header-nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 12px;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #3b82f6, #6366f1); /* blue → indigo */
  transition: width 0.3s ease;
}

.header-nav-link:hover::after {
  width: 100%;
}

.link {
  cursor: pointer;
  color: #3b82f6;
  padding-block: 3px;
  padding-inline: 7px;
  transition: all;
}

.link:hover {
  color: #6366f1;
}
